# __pycache__ та .pyc та  Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Playwright
playwright-report/
playwright/.cache/

# Кеш Telegram-бота
music_cache/
*.mp3

# Тестові файли
*.png
*.jpg
*.jpeg
generated_size_chart.png
size_chart.png

# Лог-файли
*.log

# Playwright browsers cache
~/Library/Caches/ms-playwright/

# Віртуальне середовище
venv/
.env
.env.*

# MacOS системне
.DS_Store

# Pytest runtime
.pytest_cache/
.cache/

# Backups
backup/
# VSCode ChatGPT
core/product_availability/chatgpt-vscode/
core/product_availability/package-lock.json

config/yamls/local/99_local.yaml